{plugins, [
    {rebar3_cargo,
        {git, "https://github.com/davisp/rebar3_cargo", {branch, "davisp-update-cargo"}}
    }
]}.

{erl_opts, [debug_info]}.

{provider_hooks, [
    {pre, [{compile, {cargo, build}}]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.